---
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="SML is a tech firm specializing in AI solutions. Discover our services and learn how we can help you harness AI in your business."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
<style is:global lang="scss">
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
  @import "../_variables.scss";

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    background-color: $background;
    color: $text;
  }
</style>
